//Universal Styling
* {
  border: none;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

//Styling specifically for the homepage
#homepageTitle {
  font-size: calc(5vw + 5vh);
  text-align: center;
  color: orange;
  font-weight: bolder;
  text-shadow: 3px 2px black;
  margin-top: 10vh;
  font-style: italic;
}

main {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10vw;
  padding-right: 10vw;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;

    img {
      width: calc(10vw + 10vw);
    }

    p {
      font-size: calc(1.25vw + 1.25vh);
      color: orange;
      font-weight: bolder;
      text-shadow: 1px 1px black;
      width: calc(10vw + 10vh);
      text-align: center;
    }
  }
}

//General styling but made with blackjack in mind
html {
  height: 100vh;
  width: 100%;
  // overflow: hidden;
  body {
    box-sizing: border-box;
    height: 100%;
    max-width: 100vw;
    background-color: #010801;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2326DD2B'/%3E%3Cstop offset='1' stop-color='%23010801'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%233EFF3C' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%233EFF3C' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    //Keeps track of each player's wins
    .wins {
      position: absolute;
      right: 2vw;
      color: orange;
      font-weight: bolder;
      text-shadow: 2px 2px black;
      font-size: calc(2vw + 2vh);
      &:nth-of-type(0) {
        top: 3vh;
      }
      &:nth-of-type(1) {
        bottom: 3vh;
      }
    }

    //Section that appears when the game finishes
    section {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      opacity: 0;
      display: flex;
      transition: 0.5s;

      h1 {
        font-size: calc(5vw + 5vh);
        transition: 0.5s;
        transform: translateY(-100%);
      }

      p {
        font-size: calc(2vw + 2vh);
        color: white;
      }

      div {
        text-align: center;
        transition: 0.5s;
        transform: translateY(-100%);
        filter: brightness(0.5);
        &:hover {
          filter: none;
          img {
            transform: scale(1.2);
          }
        }
      }

      img {
        width: 5vw;
        transition: 0.25s;
      }
    }

    //Buttons for hitting and staying
    .options {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 10vw;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 75%;
      cursor: pointer;
      z-index: 1;

      &:hover {
        opacity: 100%;
      }

      p {
        font-size: 2vw;
      }

      &:nth-of-type(1) {
        left: 25%;

        p {
          transform: translateX(25%);
        }
      }

      &:nth-of-type(2) {
        left: 75%;

        p {
          transform: translateX(10%);
        }
      }
    }

    //Boxes that hold the cards for the player and the dealer
    .hand {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      align-items: center;
      width: auto;
      min-width: 16vw;
      min-height: 20vh;
      background-color: crimson;
      border: 0.5rem solid gray;
      opacity: 60%;
      border-radius: 2rem;
      padding: 2vw;

      //Playing cards
      .card {
        background-repeat: no-repeat;
        background-size: contain;
        width: 10vw;
        height: 14vw;
        transform: translateY(100px);
        opacity: 0;
      }
    }

    #dealer {
      top: 2vh;
    }

    #player {
      bottom: 2vh;
    }
  }
}

//Animation for adding the cards
@keyframes addedCard {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//Styling specifically for memory
#memory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: orange;
  font-weight: bolder;
  text-shadow: 2px 2px black;

  table {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 50vh;
  }

  tbody {
    width: 100%;
    height: 100%;
  }

  td {
    width: calc(100% / 13);
    height: 50%;
  }

  .wins {
    position: static;
  }

  h1 {
    font-size: calc(5vw + 5vh);
  }

  h2 {
    font-size: calc(2vw + 2vh);
    font-style: italic;
    margin-bottom: 2vh;
  }

  .card {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    transform: translateY(100px);
    opacity: 0;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

//Styling specifically for solitaire
#solitaire {
  section {
    background-color: crimson;
    border: 0.5rem solid gray;
    opacity: 60%;
    border-radius: 2rem;
    padding: 2vw;
    width: 10vw;
    height: 10vw;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: visible;
    position: relative;
    z-index: -1;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(1vw + 1vh);
    position: absolute;
    cursor: pointer;
    z-index: 1;

    &:nth-of-type(1) {
      top: 2vh;
      right: 1vw;
    }

    &:nth-of-type(2) {
      top: 2vh;
      left: 1vw;
    }

    &:nth-of-type(3) {
      top: 35vh;
      left: 50vw;
      transform: translateX(-50%);
    }
  }
  
  .card {
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(6vw + 6vh);
    height: calc(6vw + 6vh);
    position: absolute;
    transform: translateX(10%);
    cursor: pointer;
    filter: none;
    transition: none;
    left: 0;
    top: auto;
    z-index: 1;
  }
}

//Animation for revealing face-down cards
@keyframes flipCard {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0) rotateY(90deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

//Alternate version of flipCard made with solitaire in mind
@keyframes deckFlipCard {
  0% {
    transform: translateX(10%);
    opacity: 1;
  }
  50% {
    transform: translateX(80%) rotateY(90deg);
  }
  100% {
    transform: translateX(160%) rotateY(0);
    opacity: 1;
  } 
}

//Identical animation to flipCard that plays to return a card back to face-down
@keyframes returnCard {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(0) rotateY(90deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

//Alternate version of returnCard made with the solitaire deck in mind
@keyframes deckReturnCard {
    0% {
      transform: translateX(160%);
    }
    
    50% {
      transform: translateX(80%) rotateY(90deg);
    }
    
    100% {
      transform: translateX(10%) rotateY(0);
    }
}

//Animation that plays when a card is removed
@keyframes removeCard {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    transform: scale(0.01);
    opacity: 0;
  }
}
